#markdown-wrap .nuxt-content {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.4rem;
    padding-bottom: 24px;
    p,
    ol,
    ul,
    pre,
    img,
    blockquote,
    & > div {
        margin-top: 1rem;
    }
    :not(pre) > code {
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        padding: 0 4px;
        line-height: 1.4rem;
        background-color: var(--color-inline-code-bg);
        border-radius: 2px;
        position: relative;
        top: -1.8px;
    }
    code {
        font-family: 'Courier New', Courier, monospace;
    }
    table {
        border-collapse: collapse;
        font-size: 13px;
        width: 100%;
    }
    th,
    td {
        border: 1px solid var(--color-border);
        padding: 4px 8px;
    }
    thead {
        background-color: var(--color-table-thead-bg);
    }
    img {
        margin: 0 auto;
    }
    blockquote {
        padding: 1rem;
        background-color: #efefef;
        border-radius: 4px;
        font-size: 12px;
        p {
            margin-top: 0;
        }
    }
}
