:root {
    --color-primary: #409eff;
    --color-border: #dcdee2;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    color: #515a6e;
}
html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif;
    font-size: 14px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #17233d;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
    margin-top: 1.8rem;
}
h3 {
    font-size: 1.6rem;
    margin-top: 1.6rem;
}
h4 {
    font-size: 1.4rem;
    margin-top: 1.4rem;
}
h5 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}
h6 {
    font-size: 1rem;
    margin-top: 1rem;
}

.header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
        -12px 0 48px 16px rgba(0, 0, 0, 0.03);
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &-nav {
        display: inline-flex;
        align-items: center;
        &-item {
            cursor: pointer;
            & + & {
                margin-left: 20px;
            }

            &-link {
                &:hover {
                    color: blueviolet;
                }
            }
        }
    }
}

.main {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    min-height: calc(100vh - 60px);
    background-color: #ffffff;
}
.aside {
    width: 200px;
    flex: 0 0 200px;
    border-right: 1px solid var(--color-border, #dcdee2);
    background-color: #ffffff;
}

.content {
    padding: 20px 20px 0;
    width: 800px;
    flex: 0 0 800px;
}
